# First Time

- My first program

- Press this for bullet point

- press this for bullet point

In [4]:
#my first program

# My First Program

- bullet points

- correct ah dhaane varudhu

- it is coming correctly
-  irrespective of spaces or not i dunno
-   lets c from this

 - before bullet only matter
    -after bullet doesnt matter

    - before bullet counts
    -     after bullet doesnt count

-    why is it coming like this

- why is it coming 
-    coming ike this

   - why is it coming
    -     coming like this

    - why is it doing
    - like this

    - why is it doing
        - like this

In [7]:
x = 10
y = 10
x+y

20

In [8]:
x^Y

NameError: name 'Y' is not defined

In [9]:
x*y

100

In [10]:
type(x*y)

int

In [11]:
print(typ(x*y))

NameError: name 'typ' is not defined

In [12]:
print(typ(x))

NameError: name 'typ' is not defined

In [13]:
print(type(x*y))

<class 'int'>

In [14]:
print(type(x))

<class 'int'>

In [15]:
x=34.98

In [16]:
type(x)

float

In [17]:
x=success

NameError: name 'success' is not defined

In [18]:
x="success"
type(x)

str

In [20]:
x=56/9
print(x)
type(x)

6.222222222222222

float

- either single quote or double quote can be used for print function
- but both cant be used interchangably in the same command

In [21]:
s="how are you"
t = 10
x=s/t

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [22]:
x=sqrt10

NameError: name 'sqrt10' is not defined

In [23]:
x=sqrt(10)

NameError: name 'sqrt' is not defined

In [24]:
s=india

NameError: name 'india' is not defined

In [25]:
s=india
s

NameError: name 'india' is not defined

In [26]:
s="india"
s

'india'

In [27]:
print(s)

india

- Variable names cannot have underscore in them., cant start with a digit, cant have white space in them, cant use reserve key words

- no no.. underscore cna be used. Only underscore can be used. no other special character can be used int he name of the variable

- Python is case sensitive. Be careful.. Very very careful

In [29]:
z="true"
print(z)
print(type(z))

true
<class 'str'>

In [30]:
var = input()

25

In [31]:
var1 = int(var)
var1

25

In [32]:
print(type(var1))

<class 'int'>

In [38]:
var = input()
var1 = int(var)
print(var)
print(var1)
print(type(var1))
print(type(var))
var2 = int(input("Enter your number: "))
type(var2)

25
25
25
<class 'int'>
<class 'str'>
Enter your number: 25

int

- "+" is use for string concatenation
- by default, anything inputted using input() function is of String type. Need to be cpnverted to required format before processing
- integer can be converted to string by by putting str before

In [45]:
man1 = "sirius black"
man2 = "severus snape"
verithanam = man1+man2
print(verithanam)

sirius blackseverus snape

In [41]:
x=10
y=str(x)
print(type(y))

<class 'str'>

In [43]:
x=10
y=float(x)
print(type(y))
print(y)

<class 'float'>
10.0